<footer>
    <div class="footer-content">        
        <p>
            Cryptography © 2021 <br>
            Design by Gleisson N.
        </p>

        <ul class="social-midia">
            <li>
                <div class="item">
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </li>
            <li>
                <div class="item">
                    <a href=""><i class="fab fa-github"></i></a>
                </div>
            </li>
        </ul>
    </div>
</footer>