footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80px;
  background-color: var(--primary-100);
  font-family: var(--font-open-sans);
}

footer .footer-content {
  padding-top: 20px;
  padding-left: var(--padding-app);
  padding-right: var(--padding-app);
  text-align: center;
}

footer .footer-content p {
  color: var(--white);
  font-weight: 300;
  font-size: 14px;
  margin-bottom: .5rem;
}

.social-midia {
  margin-bottom: 1rem;
}

.social-midia li {
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
}

.social-midia li .item {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-200);
}

.social-midia > li > .item > a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 17px;
  color: #ffffff;
}
