<div>
  <div class="home-detail"></div>

  <div class="home-container">
    <h1 class="home-title">
      Olá, <br>
      <span>Seja bem-vindo(a)</span>
    </h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam vel ex ornare, convallis nisl vitae, tincidunt odio.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aenean vulputate ex eget elit facilisis, sed imperdiet nulla molestie.
      Nulla nec urna pharetra,
      malesuada augue ut, tincidunt justo. Morbi sed orci nec massa aliquam aliquam.
    </p>

    <a routerLink="cadastrodoador" class="btn btn-md btn-primary-100">
      ir a área de cadastro
    </a>
    <a routerLink="listadoador" class="btn btn-md btn-primary-100">
      lista de nosso hérois
    </a>
  </div>

</div>
