.lista-detail {
  height: 32px;
  width: 135px;
  background-color: var(--primary-300);
  margin-bottom: 10px;
  border-radius: 0px 10px 40px 0px;
}

.lista-container {
  padding-left: var(--padding-app);
  padding-right: var(--padding-app);
}

.lista-container h1.lista-title {
  font-size: 1.95rem;
  color: var(--primary-300);
  margin-bottom: 30px;
}

.lista-container h1.lista-title span {
  font-size: 1.75rem;
  color: var(--secundary-100);
}

.lista-container > p {
  font-family: var(--font-open-sans);
  color: var(--white);
  margin-bottom: 5px;
}

.lista-container > a {
  font-family: var(--font-open-sans);
  color: var(--white);
  margin-bottom: 35px;
}

.lista-container .list-grup-card .lista-content {
  width: 296px;
  height: 220px;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.lista-container .list-grup-card .lista-content {
  display: flex;
  flex-direction: column;
}
